<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Posición</th>
      <th>Valores</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @operations %>
  </tbody>
</table>

<%= javascript_pack_tag 'update_price_table' %>

<br>

<%= link_to 'New Operation', new_wallet_operation_path %>
